*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

#box{
    padding: 25px;
    width: 37%;
    height: 600px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 20px;
    margin:2% 0 0 30%;
    display: none;
    background-color: white;
}
#show:checked ~ #box{
    display: block;
  }
input[type="checkbox"]{
     display: none;   
   
} 
.close-btn{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    font-size: 18px;
    cursor: pointer;
}
.close-btn:hover{
    color: red;
}
#box_first{
    margin-top: -10px;
    margin-bottom: 20px;
    text-align: center;
    color: gray;
}
#box_first h2{
    margin-top: -10px;
    margin-bottom: 10px;
    font-weight: bold;
}
#box_first p{
    margin-top: 10px;
    font-size: 20px;
}
#box_first img{
    width: 80%;
}
#box_second{
    display: flex;
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
    gap: 20px;
    color: gray;
    cursor: pointer;
}
#box_second:hover{
    background-color:#eeeeee ;
}
#box_second h2 a{
   font-weight: bold;
   text-decoration: none;
   color: gray;
}
#box_second p{
    margin-top: 10px;
    font-size: 17px;
}
#box_third{
    display: flex;
    border: 1px solid gray;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
    gap: 20px;
    color: gray;
    cursor: pointer;
}
#box_third h2 a{
    font-weight: bold;
   text-decoration: none;
   color: gray;
}
#box_third:hover{
    background-color:#eeeeee ;
}
#box_third img{
    height: 150px;
}

#box_third p{
    margin-top: 10px;
    font-size: 17px;
}
#last{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: gray;
   cursor: pointer;
}
#last a{
    color: gray;
    text-decoration: none;
}
#last a:hover{
    text-decoration: underline;
}
