*{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
#box{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 10px;
}
#side{
    margin-left: 130px;
    margin-top: 30px;
    
}
#side1{
    border: 1px solid gray;
    width: 60%;
    height: 190px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}
#side1 img{
    margin-bottom: 20px;
}
#side1 a{
    margin-bottom: 20px;
    color: gray;
    text-decoration: none;
}
#side1 a:hover{
    text-decoration: underline;
}
#side2{
    border: 1px solid gray;
    width: 60%;
    height: 220px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    cursor: pointer;
}
#side2 img{
    margin-bottom: 20px;
}
#side2 a{
    margin-bottom: 20px;
    color: gray;
    text-decoration: none;
}
#side2 a:hover{
    text-decoration: underline;
}
#side3{
    border: 1px solid gray;
    width: 67.3%;
    height: 230px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    cursor: pointer;
}
#side3 a{
    text-decoration: none;
    color: black;
}
#side3 a:hover{
    text-decoration: underline;
}
#side3 h2{
    text-align: center;
}

#form{
    margin-top: 10px;
    width: 45%;
    padding: 15px;
    color: gray;
    }
#form h1{
    color: black;
    margin-bottom: 13px;
}
#form p{
    margin-bottom: 10px;
}
#form li{
    margin-left: 20px;
    margin-bottom:  10px;
}
#form li a{
    color: red;
}
#form-second h1{
    margin-top: 60px;
    color: gray;
    margin-bottom: 20px;
}
#form-second p{
    margin-top: -15px;
}
input{
    margin-top: 10px;
    margin-left: 20px;
    width: 350px;
    height: 40px;
    margin-bottom: 15px;
    outline: none;
    font-size: 14px;
}
#name{
    margin-left: 50px;
}
#email{
    margin-left: 88px;
}
#email1{
    margin-left: 24px;
}
#password{
    margin-left: 62px;
}
#username{
    margin-left: 60px;
}
#date{
    margin-left: 62px;
}
#country{
    margin-left: 72px;
    width: 150px;
    height: 30px;
    margin-bottom: 15px;
}
#state{
    margin-left:91px;
    width: 150px;
    height: 30px;
    margin-bottom: 15px;
}
#gender{
    margin-left:75px;
    width: 150px;
    height: 30px; 
}
#submit{
    padding: 10px;
    margin-top: 40px;
    width: 30%;
    height: 50px;
    margin-left: 40px;
    border-radius: 7px;
    border: 1px solid #f06292;
    color: white;
    background-color:#ff4081;
    font-size: 20px;
    cursor: pointer;
}
#submit:hover{
    background-color:#d81b60;
}
#img_last{
    width: 100%;
    background-color: #e0e0e0;
    height: 205px;
    vertical-align: bottom;
    padding: 10px;
    margin-top: 4%;
}
#img_last img{
    margin-left: 240px;
    margin-top: 10px;
    width: 70%;
    height: 100%;
}