/* #kau_navbar{

} */
#kau_upper{
    height: 90px;
    display: flex;
    align-items: center;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    margin-left: 21%;
}
#kau_upper>div{
    display: flex;
}
#kau_lower{
    height: 40px;
    background-color: #2bb673;
    display: flex;
    align-items: center;
    width: 100%;
}
#kau_lower>a{
    font-size: 18px;
    text-decoration: none;
    color: white;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
#kau_lower>a:nth-child(1){
    margin-left: 22.5vw;
}
#kau_lower>a:nth-child(2){
    margin-left: 4.3vw;
}
#kau_lower>a:nth-child(3),#kau_lower>a:nth-child(4),#kau_lower>a:nth-child(5),#kau_lower>a:nth-child(6),#kau_lower>a:nth-child(7),#kau_lower>a:nth-child(8){
    margin-left: 3.3vw;
}
#kau_link,#kau_tw,#kau_fb{
    height: 40px;
}
#kau_link{
    margin-left: 10vw;
}
#kau_tw,#kau_fb{
    margin-left: 1vw;
}
#kau_login{
    margin-left: 100px;
    font-size: 13px;
    text-decoration: none;
    color: rgb(55, 55, 55);
}
#kau_facebook>button{
    margin-left: 1.5vw;
    width: 80px;
    background-color: #35619f;
    border: 0px;
    color: white;
    border-radius: 5px;
    height: 23px;
    font-weight: 700;
}
#kau_email>button{
    background-color: gray;
    color: white;
    border: 0px;
    width: 80px;
    height: 23px;
    border-radius: 5px;
    margin-left: 15px;
    font-weight: 700;
}
#kau_signup{
    margin-left: 1.5vw;
    font-size: 13px;
    text-decoration: none;
    color: rgb(55, 55, 55);
}